
footer
{
  position: relative;
  // float: right;
  top:750px;
  background-color: firebrick;
  width: 1533px;
  height: 75px;
  right: 0px;
  position: fixed;


}
h1
{
  color:  azure;
  opacity: 0.8;
  float: right;
  padding-right: 620px;
  padding-top: 10px;
  font-size: 15px;
  
}
a
{
  float: left;
  padding-top: 20px;
  padding-left: 35px;
  top: 500px;
  color: azure;
}