h1
{
    text-align: center;
    color:  azure;
    font-style: bold;
    
    
}

img
{
    float: left;
    top: 10px;
    position: absolute;
    width: 125px;
    height: 75px;
}

a
{
    float: right;
    top: 30px;
    right: 100px;
    position: absolute;
    font-size: 22px;
    color: azure;
    text-decoration: none

}
header
{
    background-color: black;
    opacity: 0.8;
    height: 100px;
    position: absolute;
    top: 0px;
    width: 1535px;
    left: 0px;
    position: fixed;
    z-index: 1;
   
}

// .dropbtn {
//     font-size: 16px;  
//     border: none;
//     outline: none;
//     color: white;
//     position: absolute;
//     bottom:20px;
//     left:400px;
//     // padding: 14px 16px;
//     background-color: inherit;
//     font-family: inherit;
//     // margin: 0;
// }