.card-container{
    display: flex;
   flex-direction: column; 
   margin: 1em;
  height: 300px;
  width: 300px;
  box-shadow: 3px 3px 25px  black;
  text-align: center;
  background-color: #404040;
  top: 100px;


}
img{
  margin-top: 20px;
}
.update{
   margin-left: 10px;
}

.header{
  //  font-family: 'Josefin Sans', sans-serif;
   margin:auto;
   color: red;
   font-family: bold;
   font-size: 15px;
   font-family: 'Fondamento', cursive;

}

.mat-card-subtitle{
   color: white;
   font-size: 15px;
   font-family: 'Satisfy', cursive;
}
.image{
   height: 100px;
   width: 150px;
   margin-left: 50px;
   
}
.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent{
   background-color: firebrick;
   opacity: 0.8;
   margin-left:10px;
}

.material-icons{
   color:white;
  
}
/* Making the UI responsive adding media queries */
/*  Extra small devices  */

/* @media(max-width:575px){

} */

/* .button-raised{
   display: flex;
   margin-left: 100px;
   
} */
/* .mat-button{
   padding-left: 10px;
} */





// .card-container{
//    display: flex;
//   flex-direction: column; 
//   margin: 1em;
//  height: 300px;
//  width: 300px;
//  box-shadow: 3px 3px 25px  black;
//  text-align: center;
//  background-color: #424242;
//  margin-top: 40px;

// }
// .update{
//   margin-left: 10px;
// }

// .header{
//   font-family: 'Josefin Sans', sans-serif;
//   margin:auto;
//   color: blue;
// }

// .mat-card-subtitle{
//   color: blue;
// }
// .image{
//   height: 200px;
//   width: 200px;
//   margin-left: 50px;
  
// }
// .mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent{
//   background-color: white;
//   margin-left:10px;
// }

// .material-icons{
//   color: crimson;
// }
// /* Making the UI responsive adding media queries */
// /*  Extra small devices  */

// /* @media(max-width:575px){

// } */

// /* .button-raised{
//   display: flex;
//   margin-left: 100px;
  
// } */
// /* .mat-button{
//   padding-left: 10px;
// } */





